<a href="https://colab.research.google.com/github/pingping-0606/Bigdata/blob/main/NLP_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ชื่อ ณัชชา ประทุมชาติ 653020205-1

1) ให้ลบเครื่องหมายวรรคตอนออกจากเพลงต่อไปนี้ให้หมด (punctuation) เช่น , หรือ !

In [ ]:
song = "Fly me to the moon\nLet me play among the stars\
        \nLet me see what spring is like on\
        \nA-Jupiter and Mars\nIn other words, hold my hand\
        \nIn other words, baby, kiss me\
        \nFill my heart with song and let me sing forevermore\
        \nYou are all I long for\
        \nAll I worship and adore\
        \nIn other words, please be true\
        \nIn other words, I love You\
        \nFill my heart with song\
        \nLet me sing forevermore\
        \nYou are all I long for, all I worship and adore\
        \nIn other words, please be true\
        \nIn other words\
        \nIn other words\
        \nI LOVE YOU!"
print(song)

Fly me to the moon
Let me play among the stars
Let me see what spring is like on
A-Jupiter and Mars
In other words, hold my hand
In other words, baby, kiss me
Fill my heart with song and let me sing forevermore
You are all I long for
All I worship and adore
In other words, please be true
In other words, I love You
Fill my heart with song
Let me sing forevermore
You are all I long for, all I worship and adore
In other words, please be true
In other words
In other words
I LOVE YOU!

In [6]:
# your code here
import re
song = "Fly me to the moon\nLet me play among the stars\
        \nLet me see what spring is like on\
        \nA-Jupiter and Mars\nIn other words, hold my hand\
        \nIn other words, baby, kiss me\
        \nFill my heart with song and let me sing forevermore\
        \nYou are all I long for\
        \nAll I worship and adore\
        \nIn other words, please be true\
        \nIn other words, I love You\
        \nFill my heart with song\
        \nLet me sing forevermore\
        \nYou are all I long for, all I worship and adore\
        \nIn other words, please be true\
        \nIn other words\
        \nIn other words\
        \nI LOVE YOU!"

song = re.sub(r'[^\w\s]', '', song)
print(song)

Fly me to the moon
Let me play among the stars
Let me see what spring is like on
AJupiter and Mars
In other words hold my hand
In other words baby kiss me
Fill my heart with song and let me sing forevermore
You are all I long for
All I worship and adore
In other words please be true
In other words I love You
Fill my heart with song
Let me sing forevermore
You are all I long for all I worship and adore
In other words please be true
In other words
In other words
I LOVE YOU

2) นับคำว่ารัก (love) ทั้งหมดในเพลงดังกล่าว รวมคำที่เขียนด้วยตัวอักษรทั้งพิมพ์ใหญ่และพิมพ์เล็ก

In [5]:
# your code here
count = song.lower().count("love")
print(f"คำว่า Love, LOVE และ love ทั้งหมดมี {count} คำ")

คำว่า Love, LOVE และ love ทั้งหมดมี 2 คำ

3) จากข้อมูลต่อไปนี้ สร้างคอลัมน์ใหม่ ได้แก่ Firstname, Lastname, Weekday และ Country
* Firstname แยกชื่อจาก Fullname
* Lastname แยกนามสกุลจาก Fullname
* Weekday วันเกิดคือวันอะไร (Monday - Sunday)
* Country แยกประเทศจาก Address

In [7]:
import pandas as pd
df = pd.DataFrame({"Fullname": ["Pitch Wiratch", "Sam Sonite", "Mickey Mouse", "Felonius Gru"],
                   "Birthdate": ["15/05/2015", "10/03/1910", "18/11/1928", "28/09/1960"],
                   "Address": ["555 KKU Village, Khon Kaen, Thailand, 40000",
                               "13-15 avenue de la Liberté, Luxembourg, 1931",
                               "1375 Lake Buena Vista, FL, USA, 32830",
                               "1234 Albuquerque, New Mexico, USA, 87777"]})
df

        Fullname   Birthdate                                       Address
0  Pitch Wiratch  15/05/2015   555 KKU Village, Khon Kaen, Thailand, 40000
1     Sam Sonite  10/03/1910  13-15 avenue de la Liberté, Luxembourg, 1931
2   Mickey Mouse  18/11/1928         1375 Lake Buena Vista, FL, USA, 32830
3   Felonius Gru  28/09/1960      1234 Albuquerque, New Mexico, USA, 87777

In [11]:
# your code here
# 1.Firstname แยกชื่อจาก Fullname
df[['Firstname', 'Lastname']] = df['Fullname'].str.split(' ', expand=True)
df['Firstname']

0       Pitch
1         Sam
2      Mickey
3    Felonius
Name: Firstname, dtype: object

In [15]:
# 2.Lastname แยกนามสกุลจาก Fullname
df[['Firstname', 'Lastname']] = df['Fullname'].str.split(' ', expand=True)
df['Lastname']

0    Wiratch
1     Sonite
2      Mouse
3        Gru
Name: Lastname, dtype: object

In [17]:
# 3. Weekday วันเกิดคือวันอะไร (Monday - Sunday)
from datetime import datetime

def find_weekday(date_str):
  date_obj = datetime.strptime(date_str, "%d/%m/%Y")
  weekday = date_obj.strftime("%A")
  return weekday

df['Weekday'] = df['Birthdate'].apply(find_weekday)
df['Weekday']

0       Friday
1     Thursday
2       Sunday
3    Wednesday
Name: Weekday, dtype: object

In [18]:
# 4. Country แยกประเทศจาก Address
df['Country'] = df['Address'].str.split(', ').str[-2]
df['Country']

0      Thailand
1    Luxembourg
2           USA
3           USA
Name: Country, dtype: object

4) ให้คัดแยกอีเมลทั้งหมดจากข้อความต่อไปนี้

In [19]:
text = "In the heart of the city, Emily navigated daily chaos in her bustling office. \nEvery morning, Emily boarded a bus from redline@bus.com, finding solace in the routine. \nAmid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers, \nwhose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com. \nConversations buzzed about projects and deadlines, creating a unique camaraderie."
print(text)

In the heart of the city, Emily navigated daily chaos in her bustling office.
Every morning, Emily boarded a bus from redline@bus.com, finding solace in the routine.
Amid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers,
whose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com.
Conversations buzzed about projects and deadlines, creating a unique camaraderie.

In [22]:
# your code here
import re
emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text)
print(emails)

['redline@bus.com', 'jason.patel@gmail.com', 'redpanda123@hotmail.com', 'chachacha555@kkumail.com']

5) สร้าง word tokens และ 2-gram และ 3-gram tokens จากข้อความต่อไปนี้

In [ ]:
pooh = "A day without a friend is like a pot without a single drop of honey."
print(pooh)

A day without a friend is like a pot without a single drop of honey.

In [25]:
# your code here
from nltk import word_tokenize
from nltk import ngrams
import nltk
nltk.download('punkt')

pooh = "A day without a friend is like a pot without a single drop of honey."

# Word tokens
tokens = word_tokenize(pooh)
print("Word tokens:", tokens)

# 2-gram tokens
bigrams = list(ngrams(tokens, 2))
print("2-gram tokens:", bigrams)

# 3-gram tokens
trigrams = list(ngrams(tokens, 3))
print("3-gram tokens:", trigrams)

Word tokens: ['A', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'single', 'drop', 'of', 'honey', '.']
2-gram tokens: [('A', 'day'), ('day', 'without'), ('without', 'a'), ('a', 'friend'), ('friend', 'is'), ('is', 'like'), ('like', 'a'), ('a', 'pot'), ('pot', 'without'), ('without', 'a'), ('a', 'single'), ('single', 'drop'), ('drop', 'of'), ('of', 'honey'), ('honey', '.')]
3-gram tokens: [('A', 'day', 'without'), ('day', 'without', 'a'), ('without', 'a', 'friend'), ('a', 'friend', 'is'), ('friend', 'is', 'like'), ('is', 'like', 'a'), ('like', 'a', 'pot'), ('a', 'pot', 'without'), ('pot', 'without', 'a'), ('without', 'a', 'single'), ('a', 'single', 'drop'), ('single', 'drop', 'of'), ('drop', 'of', 'honey'), ('of', 'honey', '.')]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

6) ให้ทำการ stem และ lemmatize ข้อความต่อไปนี้

In [ ]:
pooh = "A day without a friend is like a pot without a single drop of honey."
print(pooh)

A day without a friend is like a pot without a single drop of honey.

In [27]:
# your code here
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

pooh = "A day without a friend is like a pot without a single drop of honey."

# Stemming
stemmer = PorterStemmer()
stemmed_words = [stemmer.stem(word) for word in word_tokenize(pooh)]
print("Stemmed words:", stemmed_words)

# Lemmatization
lemmatizer = WordNetLemmatizer()
lemmatized_words = [lemmatizer.lemmatize(word) for word in word_tokenize(pooh)]
print("Lemmatized words:", lemmatized_words)

Stemmed words: ['a', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'singl', 'drop', 'of', 'honey', '.']
Lemmatized words: ['A', 'day', 'without', 'a', 'friend', 'is', 'like', 'a', 'pot', 'without', 'a', 'single', 'drop', 'of', 'honey', '.']

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!